@charset "ISO-8859-1";
body{
			font-family: 'Verdana', 'Open Sans', sans-serif;
			margin: 0;
			padding: 0;
		}    
		#titulo{
			background-color: #58D3F7;
			margin: 0;
			font-size: 14px;
		}
		.h1-layout{
			padding: 5px; 
			margin: 0;
			text-transform: uppercase;
		}	
		.li-layout a{  						
		  	margin: 10px;	
		  	background-color: #C7EFFF; 	  	  			  	
		}	
		.li-layout a:hover{
  			background-color: #58D3F7; 
		}		
		
		#homeLink{
			color: #58D3F7;
			background-color: black;
			border: 1px solid #828282;
			text-decoration: none;			
			padding: 5px;
			border-radius: 0.4rem;
		}
		
		#li-usuario{
			margin-left: 20px;
		}
	
		#exit{
			background-color: #58D3F7;
			border: 1px solid #828282;
			text-decoration: none;
			padding: 8px;
			color: black;			
		}
		
		#exitIcon{
			font-size: 20px;			
		}
		
		#tituloReporte{
			padding: 15px 0 0 0;
			text-align: center;
		}
		#descripcionReporte{
			margin-bottom: 10px;;
			text-align: center;
			color: #555;
			font-weight: lighter;			
		}
		
		#cuadroReporte{
			display: flex;
			justify-content: center;
			align-items: center;			
		}
		
		#grillaReporte{
			width: 100%;
	      	margin: auto;
	      	/*background-color: #58D3F7;*/	      	
		}
		
		#divAnioAnterior, #divAnioActual, #div3cuotas, #div6cuotas, #div12cuotas, #div24cuotas {
			padding:10px 0;
			background-color: #58D3F7;
			border-radius: 0.4rem;
			margin: 5px;
		}
		
		.divAnioReporte1{
			padding:10px 15px !important;
		}
		
		#cuadroReporte2{
			width: 100%;
			margin: auto;
		}
		#piechart{
			margin-left: 30px;			
		}
		

