@charset "ISO-8859-1";
body{
			font-family: 'Verdana', 'Open Sans', sans-serif;
			margin: 0;
			padding: 0;
		}    
		#titulo{
			background-color: #58D3F7;
			margin: 0;
			font-size: 14px;
		}
		.h1-layout{
			padding: 5px; 
			margin: 0;
			text-transform: uppercase;
		}	
		.ul-layout li{
  			background-color: black;
		  	color: white; 
		  	padding: 5px 0; 
		  	margin: 0 15px;			  	  			  	
		}
		.ul-layout a{
			text-decoration: none;
			color: white; 
		}
		.ul-layout h3{
			color: white; 
			margin-bottom: 2px;
		}
		.ul-layout{
			background-color: black;
			display: flex;
			justify-content: space-around;
			list-style: none;
			padding: 0;
			height: 50px;
			margin: 0;
		}
		.img-layout{
			height: 18px;
		}
	
		#exit{
			background-color: #58D3F7;
			border: 1px solid #828282;
			text-decoration: none;
		}
		
		#exitIcon{
			font-size: 20px;
			color: #828282;
		}
		
		#tituloReporte{
			padding: 15px 0 0 0;
			text-align: center;
		}
		#descripcionReporte{
			margin-bottom: 10px;;
			text-align: center;
			color: #555;
			font-weight: lighter;			
		}
		
		#cuadroReporte{
			display: flex;
			justify-content: center;
			align-items: center;
			
		}
		
		#grillaReporte{
			width: 100%;
	      	margin: auto;
	      	background-color: #58D3F7;
	      	border-radius: 0.4rem;
		}
		
		#divAnioAnterior, #divAnioActual{
			margin:10px 0;
		}